# Created with package:mono_repo v2.0.0
language: dart

jobs:
  include:
    - stage: analyze
      name: 'SDK: dev; PKG: all; TASKS: `dartanalyzer .`'
      env: PKGS="example retrofit generator"
      script: ./tool/travis.sh dartanalyzer
    # - stage: formatting
    # name: "Checking code style"
    # scripts: dartfmt . -n --set-exit-if-changed --fix
    - stage: test
      name: 'Test generator'
      script: |
        cd generator 
        pub get
        pub run test

stages:
  - analyze
  - formatting
  - test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - '$HOME/.pub-cache'
