version: 2
jobs:
  build:
    docker:
      - image: google/dart
    steps:
      - checkout
      - run:
          command: |
            ./tool/travis.sh dartanalyzer
          environment:
            PKGS: "example annotation generator"
      - run:
          command: |
            cd generator
            pub get
            # pub run test  # FIMXME: temporarily disable gen test since it doesn't work on dart 2.5

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
