name: Mirror to Gitee

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Mirror to Gitee
        run: |
          git pull -p --tags
          git remote add gitee https://trevor:${{secrets.GITEE_TOKEN}}@gitee.com/trevor/retrofit.dart.git
          git checkout master
          git push gitee master
          git checkout gh-pages
          git push gitee gh-pages
          git push --tags --prune
