name: test on multiple dart sdk

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        sdk: [2.19.6, stable]
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: dart-lang/setup-dart@v1.5.0
        with:
          sdk: ${{ matrix.sdk }}
      - name: Generate code
        run: cd example && dart pub get && dart pub run build_runner build --delete-conflicting-outputs
      - name: Analyze packages
        run: PKGS="example retrofit generator" ./tool/travis.sh dartanalyzer
      - name: Install dependencies
        run: cd generator && dart pub get
      - name: Run tests
        run: |
          cd generator && dart pub run test
